
<h1>Summer<br>Babes</h1>

<div class="module">
  <h2>Sights</h2>
  <ul>
      <li class="date">{{ next_gig.date }}</li>
      <li><a href="{{ next_gig.venue_url}}">{{ next_gig.venue }}</a></li>
      <li>{{ next_gig.time }}, {{ next_gig.cover }}</li>

  </ul>
</div>
<div class="module">
  <div class="sounds cf">
      <h2>Sounds</h2>
      <iframe style="border: 0; width: 290px; height: 350px;" src="http://bandcamp.com/EmbeddedPlayer/album=2416050914/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://summerbabes.bandcamp.com/album/open-swim">Open Swim by Summer Babes</a></iframe>
      <iframe style="border: 0; width: 290px; height: 350px;" src="http://bandcamp.com/EmbeddedPlayer/album=290488874/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://summerbabes.bandcamp.com/album/babe-summer-ep">Babe Summer EP by Summer Babes</a></iframe>
  </div>

</div>
