<h1>Press</h1>

<div class="module">
    <h2><a href="http://www.guerrillacandy.com/2011/02/18/for-your-consideration-summer-babes">For Your Consideration: Summer Babes (Guerilla Candy, Feb 18, 2011)</a></h2>
    <p>Summer Babes describe themselves as “Softcore pop for goodlooking people” in their brief and succinct Twitter bio. This is a pretty accurate description for the band fronted by Jeff Albertson of The Lights (other band members include Matt Stegner on guitar, keyboardist Jessica Parsons, bassist Henry Rose and drummer Ryan Reed Creason), but it leaves out one vital part of the band’s sound: fun. ...</p>
</div>